name: Enable Git LFS

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository with LFS
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Install LFS
        run: |
          git lfs install
          git lfs env
          git lfs ls-files
